<div>
    <form action="<%= submitPath %>" method="post">
      <% if (!publication.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <label for="userId">
        <span>Autor</span>
        <select name="userId" id="userId" />
          <option disabled selected value> -- Selecciona un Autor --
            <% users.forEach(user => { %>
              <option <%= publication.userId == user.id ? 'selected' : '' %> value="<%= user.id %>" ><%= user.firstName + " " + user.lastName%> </option>
            <% }) %>
        </select>
      </label>
      <label for="title">
        <span>Título</span>
        <input type="text" name="title" id="title" value="<%= publication.title %>" />
      </label>
      <label for="categoryId">
        <span>Categoría</span>
        <select name="categoryId" id="categoryId" />
          <option disabled selected value> -- Selecciona una categoría --
            <% categories.forEach(category => { %>
              <option <%= publication.categoryId == category.id ? 'selected' : '' %> value="<%= category.id %>" ><%= category.name %> </option>
            <% }) %>
        </select>
      </label>
      <label for="description">
        <span>Descripción</span>
        <input type="text" name="description" id="description" value="<%= publication.description %>" />
      </label>
      <label for="exchange_type">
        <span>Tipo de intercambio</span>
        <select name="exchange_type" id="exchange_type" />
          <option disabled selected value> -- Selecciona un tipo de intercambio --            
            <option <%= publication.exchange_type == 'gift' ? 'selected' : '' %> value="gift" >Regalo </option>
            <option <%= publication.exchange_type == 'exchange' ? 'selected' : '' %> value="exchange" >Intercambio </option>
        </select>
      </label>
      <label for="value">
        <span>Valor aproximado</span>
        <input type="text" name="value" id="value" value="<%= publication.value %>" />
      </label>
      <div class="actions">
        <input type="submit" value="<%= publication.isNewRecord ? 'Crear' : 'Editar' %>" />
      </div>
    </form>
  </div>
