<div class="Full">
  <div class="container2">
    <div class="cardTable addForm">
      <form action="<%= submitPath %>" method="post">
        <% if (!publication.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
        <% } %>

        <input type="hidden" id="userId" name="userId" value=<%= currentUser.id %>>

        <div class="row">
          <label for="title">
            <span>Título</span>
            <input type="text" name="title" id="title" value="<%= publication.title %>" />
          </label>
        </div>

        <div class="row">
          <label for="categoryId">
            <span>Categoría</span>
            <select name="categoryId" id="categoryId" />
            <option disabled selected value> -- Selecciona una categoría --
              <% categories.forEach(category => { %>
            <option <%=publication.categoryId==category.id ? 'selected' : '' %> value="
              <%= category.id %>" >
              <%= category.name %>
            </option>
            <% }) %>
            </select>
          </label>


          <label for="exchange_type">
            <span>Tipo de intercambio</span>
            <select name="exchange_type" id="exchange_type" />
            <option disabled selected value> -- Selecciona un tipo de intercambio --
            <option <%=publication.exchange_type=='gift' ? 'selected' : '' %> value="gift" >Regalo </option>
            <option <%=publication.exchange_type=='exchange' ? 'selected' : '' %> value="exchange" >Intercambio
            </option>
            </select>
          </label>

        </div>

        <div class="row">
          <label for="description">

            <span>Descripción</span>
            <br>
            <textarea placeholder = "Describe tu producto Aqui" rows="5" cols="50" type="text" name="description" id="description" value="<%= publication.description %>"></textarea>
          </label>
        </div>




        <div class="row">
          <label for="value">
            <span>Valor aproximado</span>
            <input type="text" name="value" id="value" aria-rowcount="5" value="<%= publication.value %>" />
          </label>
        </div>


        <div class="actions">
          <input type="submit" value="<%= publication.isNewRecord ? 'Crear' : 'Editar' %>" />
        </div>
      </form>
    </div>
  </div>
</div>