<div class="Full">
  <div class="fondoAzulCool">
    <h1>Publicaciones</h1>
  </div>
  <div class="container2">
    <table class="cardTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Tipo de intercambio</th>
          <th>Valor Estimado</th>
          <th>Propietario</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% publications.forEach(publication => { %>
        <tr>
          <td>
            <%= publication.title %>
          </td>
          <td>
            <% categories.forEach(category => { %>
            <% if (category.id == publication.categoryId) { %>
            <%= category.name %>
            <% } %>
            <% }) %>
          </td>
          <td>
            <%= (publication.exchange_type == 'gift')? "Regalo" : "Intercambio" %>
          </td>
          <td>
            <%= publication.value %>
          </td>
          <td>
            <% users.forEach(user => { %>
            <% if (user.id == publication.userId) { %>
            <%= user.firstName + ' ' + user.lastName %>
            <% } %>
            <% }) %>
          </td>
          <td>
            <a href="<%= getShowPath(publication) %>">Ver</a>
            <% if (locals.currentUser) { %>
              <% if (currentUser.id === publication.userId) { %>
                <a href="<%= getEditPath(publication) %>">Editar</a>
                <form action="<%= getDestroyPath(publication) %>" method="post">
                  <input type="hidden" name="_method" value="delete" />
                  <input type="submit" value="Borrar" />
                </form>
              <% } else { %>
                <a href="<%= newBidPath(publication) %>">Ofertar</a>
              <% } %>      
            <% } %>       
          </td>
        </tr>
        <% }) %>
      </tbody>

    </table>
    <div class="cardTable corto">
      <a href="<%= newPublicationPath %>">
        <button class="defaultButton" href=>Nueva Publicacion </button>
      </a>
    </div>

    <div class="cardTable corto">
        <p>Viendo
          <%= publications.length %> publicaciones</p>
        <p>
    </div>

  </div>
</div>