<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>TecWeb</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
      <div id="menu">
          <a href="/" class="menuitem">Inicio</a>
          <a href="/publications" class="menuitem">Publicaciones</a>


          <% if (locals.currentUser) { %>
            <a class="menuitem menuitemright">Bienvenido, <%= currentUser.firstName %></a> 
            <form action="<%= destroySessionPath %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Cerrar Sesión" class="menuitem" />
            </form>


          <% } else { %>
            <a class = "menuitem menuitemright" href="<%= newSessionPath %>">Iniciar sesión</a>
          <% } %>



      </div>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>


  </body>

</html>
