<div class="container2">
  <div class="cardTable">
    <div class="row">
      <form action="<%= submitPath %>" method="post">
        <% if (!user.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
        <% } %>
        <label for="firstName">
          <span>Nombre</span>
          <input type="text" name="firstName" id="firstName" value="<%= user.firstName %>" />
        </label>
    </div>

    <div class="row">
      <label for="lastName">
        <span>Apellido</span>
        <input type="text" name="lastName" id="lastName" value="<%= user.lastName %>" />
      </label>
    </div>

    <div class="row">
      <label for="location">
        <span>Dirección</span>
        <input type="text" name="location" id="location" value="<%= user.location %>" />
      </label>
    </div>

    <div class="row">
      <label for="email">
        <span>Email</span>
        <input type="text" name="email" id="email" value="<%= user.email%>" />
      </label>

      <label for="password">
        <span>Password</span>
        <input type="text" name="password" id="password" value="<%= user.password %>" />
      </label>
    </div>

    <div class="row">
      <div class="actions">
        <input type="submit" value="<%= user.isNewRecord ? 'Crear' : 'Editar' %>" />
      </div>
    </div>

    </form>
  </div>
</div>