<div id="user">
  <p> <%= user.firstName %> <%= user.lastName %></p>
  <p>Email: <%= user.email %></p>
  <p>Ubicacion: <%= user.location %></p>
  <p>Reputacion: <%= user.reputation %></p>

  <p> <a href="<%= userPublications(user) %>">Ver publicaciones</a></p>
</div>